input.ng-invalid.ng-touched{
    border: 1px solid red;
  }

 .manager__home{
   margin: 30px;
 }

 .action__button{
   color: #2F5233;
 }

 .action__td{
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-content: center;
 }
.status{
  margin-right: 10px;
}
.panel-footer{
  margin-left: 10px;
}
 /* .approve__button{
   margin-right: 10px;
 } */