.reimbursement__upload__wrapper{
    display: flex;
    flex-direction: column;
}

.reimbursement__upload{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reimbursement__display{
    margin: 40px;
}
.status{
    margin-right: 10px;
  }
  .panel-footer{
    margin-left: 10px;
  }